extends ../../templates/template 

append h1 
    h1 Arquitectura CSS en JS con Styled Components


append content 
    article(id="1" class="content")
        h2 Subtitulo 1

    article(id="2" class="content")
        h2 Subtitulo 2

    article(id="3" class="content")
        h2 Subtitulo 3        

append submenu 
    -submenuLinks = [[1,'Subtitulo 1'],[2,'Subtitulo 2'],[3,'Subtitulo 3']]
    +submenu(submenuLinks)