<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/prism-dracrula.css">
    <link rel="stylesheet" href="../../css/styles.min.css">
    <title>Arquitectura CSS</title>
    <script src="../../js/app.js" type="module" defer> </script>
  </head>
  <body class="layout">
    <div class="container-hamburger"><img class="hamburger" id="hamburger" src="../../assets/icons/hamburger.svg" alt="arrow right"></div>
    <header class="page-header" id="pageHeader">
      <nav class="main-nav"><img class="close" id="close" src="../../assets/icons/close.svg" alt="close"><a href="../../../"><img class="logo" src="../../assets/icons/logo.png" alt="logo"></a>
        <section class="container-menu">
          <details class="container-cross-menu">
            <summary class="title-menu">Introducción</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/css-lenguage.html">CSS es un lenguaje de programación</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/solucionar-arquitectura-css.html">¿Qué queremos solucionar con arquitectura CSS?</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Buenas prácticas al escribir clases en CSS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/calidad-css.html">Especificidad de los selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/single-responsibility.html">Single responsibility principle en CSS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/herencia-composicion.html">Herencia vs composición en CSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Nomenclatura de tus clases BEM</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejora-css-bem.html">Mejorar CSS con BEM ventajas e inconvenientes</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejorar-bem.html">Mejorar lo que no nos gusta con de BEM con utility classes</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Comparando sistemas de arquitectura</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/atomit.html">Atomit Design</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/itcss.html">ITCSS arquitectura apps escalables</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/lo-mejor.html">Lo mejor de Atomit Design e ITCSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Estilos globales</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/utilizar-variables.html">Cómo utilizar variables, mixins y funciones</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-globales.html">Base CSS estilos globales</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-propios.html">Empezando a aplicar estilos propios</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Modularizar estilos de nuestra app</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/primeros-objetos.html">Creando primeros objetos y átomos</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/moleculas.html">Clases con significado Moléculas</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/componentes-ind.html">Componentes independientes Organismos</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS en app JS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/problemas-arq.html">Problemas de arquitectura CSS en app JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/nomenclatura.html">Nomenclatura de clases en componentes JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/atomitcss.html">ATOMITCSS en app JS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS sin clases</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-tailwind.html">Arquitectura con Tailwind</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-styled.html">Arquitectura CSS en JS con Styled Components</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Cuestiones</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/opt-selectores.html">Optimización de selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/element-vs.html">Elemento vs layout vs theme</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/scoped.html">Estilos scoped en componentes y su especificidad</a></li>
            </ul>
          </details>
        </section>
      </nav>
    </header>
    <main class="container main" id="main">
      <h1>Componentes independientes Organismos</h1>
      <section class="main-info">
        <section class="info">
          <article class="content" id="1">
            <h2>Organismos </h2>
            <p>Los organismos son los componentes más específicos y menos reutilizables en nuestra aplicación. Estos elementos son independientes y se pueden usar en diferentes páginas, pero es raro que se repitan en la misma página. Debido a su naturaleza única, es crucial evitar la creación de abstracciones prematuras en esta capa.</p>
            <p>Una abstracción prematura sucede cuando tratamos de hacer un código más general o reutilizable antes de entender bien cómo y dónde se va a usar. En el caso de los organismos, que son componentes únicos y específicos, intentar hacer esto puede complicar el código y hacer que sea más difícil de mantener. Es mejor tener un poco de código repetido que intentar hacer una generalización que no encaja bien con lo que realmente necesitamos. Una abstracción incorrecta es cuando hacemos una generalización que no se ajusta bien a los organismos y termina haciendo el código más difícil de entender y de modificar.</p>
            <p>Veamos más contexto para entender más la abstracción.</p>
            <p>En este contexto, abstraer significa simplificar o generalizar el código para que pueda ser utilizado en diferentes situaciones, en lugar de estar diseñado solo para un caso específico. Cuando abstraes, estás creando una "versión simplificada" de algo, de manera que el mismo código se pueda aplicar en distintos contextos.</p>
            <p>Por ejemplo, si tienes varias tarjetas en una página que necesitan estilos similares, en lugar de escribir el mismo estilo para cada tarjeta por separado, podrías abstraer esos estilos en una sola clase que se aplique a todas las tarjetas. Esto hace que el código sea más reutilizable y más fácil de mantener.</p>
            <p>Sin embargo, en el contexto de los organismos, abstraer demasiado pronto o de manera incorrecta puede ser problemático, porque estos componentes suelen ser únicos y específicos, por lo que no siempre se benefician de la generalización. </p>
            <h3>Organismo Hero </h3>
            <p>El <strong>"hero"</strong> de una página web es una sección destacada que generalmente aparece en la parte superior de la página, justo debajo de la barra de navegación. Suele ser el primer elemento visual que los usuarios ven cuando cargan la página y está diseñado para captar su atención de inmediato. Esta sección puede incluir una imagen o video llamativo, un título prominente, subtítulos, y una llamada a la acción (CTA).</p>
            <p>Como habiamos mencinoado en el capítulo anterior es preferible que los tamaños y márgenes se definan a nivel de organismo.</p>
            <p>Veamos el organismo Hero que tenemos.</p><img src="../../assets/img/organismos/hero.png" alt="hero img">
            <p>Dentro del hero podemos ver los siguiente.
            <ul>
              <li>
                <p> <strong>Molécula m-video-thumbnail</strong></p>
              </li>
              <li>
                <p> <strong>átomo button </strong></p>
              </li>
              <li>
                <p> <strong>Átomo lead de texto</strong></p>
              </li>
            </ul>
            </p>
            <p>El organismo hero tiene su propia estructura, por lo que le delegamos la responsabilidad de organizar todo lo que contiene, ya que esta estructura es específica del hero. Si tuviéramos un sistema de grid que se utilizara de manera consistente en diferentes contextos, podríamos considerarlo como un objeto, ya que sería altamente reutilizable. Sin embargo, en nuestro caso, es el propio hero quien define y proporciona la estructura.</p>
            <div>
              <pre><code class="language-html"> &lt;section class="a-cover-background a-cover-background--plant"&gt;
&lt;!--Declaramos el organismo g-hero--&gt;
 &lt;div class="g-hero o-container"&gt;
&lt;!--Todo elemento que no sea una molécula o átomo viene a ser parte del
organismo en este caso g-hero__info--&gt;
   &lt;div class="g-hero__info"&gt;
     &lt;h1&gt;Cursos para programadores&nbsp;🚀&lt;br /&gt;&lt;/h1&gt;
     &lt;p class="a-lead"&gt;
       Aprende de profesionales con experiencia en cursos prácticos y sin
       rodeos. Mejora tus habilidades, especialízate, y sigue avanzando
       en tu carrera.
     &lt;/p&gt;
     &lt;a class="a-btn a-btn--primary" href="#subscription" target="_self"&gt;
       &lt;span class="a-btn__text"&gt;👇 Más información 👇&lt;/span&gt;
     &lt;/a&gt;
   &lt;/div&gt;
   &lt;div class="g-hero__media"&gt;
     &lt;div class="m-video-thumbnail"&gt;
       &lt;img
         alt="Vídeo introducción cursos CodelyTV Pro"
         src="img/bg/arq.png"
         class="m-video-thumbnail__img"/&gt;
       &lt;button
         aria-label="Reproducir Vídeo introducción cursos CodelyTV Pro"
         class="m-video-thumbnail__play m-video-thumbnail__play--large"&gt;
       &lt;/button&gt;
     &lt;/div&gt;
     &lt;p&gt;
       Cursos de principios SOLID, Domain-Driven Design, Arquitectura
       Hexagonal, Docker, CQRS, Microservicios, Kubernetes, Testing y
       mucho más.
     &lt;/p&gt;
   &lt;/div&gt;
 &lt;/div&gt;
&lt;/section&gt; </code></pre>
            </div>
            <p>Veamos el css, como es que logramos que el <strong>hero sea el que da la estructura de sus hijos.</strong></p>
            <div>
              <pre><code class="language-css"> /*File hero.css*/

/*a g-hero es un contenedor flexible y sus hijos serán wrap, cuando no quepan saltarán 
de línea*/
.g-hero {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 padding-top: var(--spacing-l);
 padding-bottom: var(--spacing-l);
}

/*Los hijos directos que son g-hero__info, g-hero__media tienen un flex-basis:auto 
lo que significa que su ancho, ya que el main-axis está en row, va a ser auto 
es decir tendrá un ancho intrínseco que lo define el contenido, y tambien tenemos 
un flex-grow:1; lo que hará que los elementos crezcan una proporción del 
espacio disponible*/
.g-hero > * {
 flex-basis: auto;
 flex-grow: 1;
}

/*El g-hero__info tendrá un ancho mínimo del 50% de su contenedor, y al 
asignarle un flex-basis:0; significa que su ancho no lo determinará 
su contendio, si no la proporción de flex-grow que le digamos que en 
este caso es 999, al ponerle una proporción de crecimiento demasiado 
alto significa que crecerá mas que cualquier otro elemento dentro.*/
.g-hero > :first-child {
 min-width: 50%;
 flex-basis: 0;
 flex-grow: 999;
}

.g-hero__info {
 padding-right: 2rem;
 font-size: var(--fs-lead);
}

/*A g-hero__media le específicamos un ancho máximo de 33rem, y siempre 
estará centrado, cuando este elemento no quepa y salte de línea 
siempre estará centrado.*/
.g-hero__media {
 max-width: 33rem;
 margin: 0 auto;
}

.g-hero p {
 opacity: 0.9;
}

.g-hero .btn {
 margin-top: 1rem;
}</code></pre>
            </div>
            <p class="des-code">De esta manera es como logramos que el organismo g-hero sea el que se encargue de dar la estructura a sus hijos. </p><br>
          </article>
          <article class="content" id="2">
            <h2>Justificación de selectores anidados </h2>
            <p>En este punto de nuestra arquitectura ya está justificado utilizar selectores anidados ya que es el sitio para hacerlo.</p>
            <p>Por ejemplo en nuestro organismo Hero hemos optado por aplicar selectores anidados para darle más margin al botón y agregarle más opacidad al párrafo.</p>
            <p>Esto ya depende como lo comentabamos en las moléculas si anidamos o creamos clases por separado para aplicar ciertos estilos.</p>
            <div>
              <pre><code class="language-css"> .g-hero p {
 opacity: 0.9;
}

.g-hero .btn {
 margin-top: 1rem;
}</code></pre>
            </div>
            <p>Entonces en este punto está justificado crear selectores anidados, ya que estamos creando cosas bastantes concretas.</p>
          </article>
          <article class="content" id="3">
            <h2>¿Porque no reutilizar un mismo organismo para más cosas?</h2>
            <p>Como mencionabamos al inicio de este capítulo hablabamos sobre abstracciones prematuras, generalizar el código para que pueda ser utilizado en diferentes situaciones, en lugar de estar diseñado solo para un caso específico. </p>
            <p>Es mejor tener un poco de código repetido que intentar hacer una generalización que no encaja bien con lo que realmente necesitamos. Una abstracción incorrecta es cuando hacemos una generalización que no se ajusta bien a los organismos y termina haciendo el código más difícil de entender y de modificar.</p>
            <p>Veamos el siguiente ejemplo donde tenemos un organismo que llamamos g-subscribe que comparte una similutud con el organmismo g-hero</p>
            <figure><img src="../../assets/img/organismos/organismos.png" alt="hero img">
              <figcaption> Como podemos observar la estructura de ambos organismos es similar teniendo sus moléculas posicionadas hacia los lados, con algunas diferencias como la separación entre ellas.</figcaption>
            </figure>
            <p>Aquí es donde podriamos pensar en hacer un componente reutilizable de esto, pero como hemos dicho hay similitudes en ambos organismos como que una molécula es más estrecha que otra, y la separación entre ambas es diferente entre un organismo u otro.</p>
            <p>Podemos hablar con diseño y les decimos, estandarizamos esto un poco, pero igual nos dicen: no, como los 2 organismos van seguido, usar la misma estructura es repetitivo.</p>
            <p>Esta bien comentarlo pero si hay un motivo por el que sean aunque sea un poco distinto, hay que respetar cada organismo. Entonces en lugar de intentar de hacer estas abstracciones, que nos va a costar mantener. Es mejor llegar a duplicar un poco el código </p>
            <div>
              <pre><code class="language-css"> /*File subscribe.css*/
  
.g-subscribe {
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 padding-top: var(--spacing-l);
 padding-bottom: 5rem;
}

.g-subscribe > * {
 flex-basis: 25rem;
 flex-grow: 1;
}

.g-subscribe > :first-child {
 min-width: 60%;
 flex-basis: 0;
 flex-grow: 999;
 padding-right: 10vw;
}</code></pre>
            </div>
            <p class="des-code">Como podemos ver nuestro código esta un poco duplicado pero será mas fácil de mantener.</p>
            <p class="note">Antes de hacer una abstracción prematura y parametrizar cosas que se pueden hacer por separado, es mejor copiar y pegar los estilos y editamos lo que haga falta por las peculiaridades de cada organismo.</p>
            <p class="note">Recordemos que ya estamos hablando de organismos y estos siempre serán los menos reutilizables, por eso el tratar de hacer una abstracción de un organismo para reutilizarlo en otro sitio, no nos viene bien ya que un organismo es más concreto que no se van a repetir. Es mejor duplicar código.</p>
          </article>
          <article class="content" id="4">
            <h2>Pensar a futuro, ¿Anidar clases o crear una clase específica?</h2>
            <p>Cuando diseñamos organismos, surge una pregunta importante: ¿debemos anidar selectores o crear clases específicas para cada caso? </p>
            <p>Como ya habiamos mencionado aquí ya podemos anidar clases, pero veremos más a fondo como llegar a una decisión.</p>
            <p>Por ejemplo, consideremos un organismo llamado courses, que muestra una cuadrícula de tarjetas (cards).</p><img src="../../assets/img/organismos/cursos.png" alt="cursos img">
            <p>Veamos parte de la estructura del HTML</p>
            <div class="has-mb">
              <pre><code class="language-html"> &lt;section class="g-courses"&gt;
	&lt;div class="o-container"&gt;
		&lt;h2 class="a-title"&gt;Cursos disponibles&lt;/h2&gt;

		&lt;div class="g-courses__filters m-dropdown"&gt;
			&lt;span class="m-dropdown__label"&gt;Categoría:&lt;/span&gt;
			&lt;div class="m-dropdown__field"&gt;
				&lt;ul class="o-ui-list m-dropdown__list"&gt;
					&lt;li class="m-dropdown__item m-dropdown__item--active"&gt;Todas&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class="g-courses__grid"&gt;
          &lt;!--Hemos creado la clase g-courses__item--&gt;
			&lt;article class="m-card g-courses__item"&gt;</code></pre>
            </div>
            <div>
              <pre><code class="language-css"> /*File courses.css*/

.g-courses {
 border-bottom: 1px solid var(--border-inverted-color);
 background: var(--background-light-color);
}

.g-courses__filters {
 margin-bottom: 3rem;
}

.g-courses__grid {
 column-width: 18rem;
 gap: 1.87rem;
}

/*En lugar de haber creado la clase __item pudimos haber anidado 
la clase de la molécula de card a continuación el porque de esto.*/
.g-courses__item {
 margin-bottom: 1.87rem;
 break-inside: avoid;
}</code></pre>
            </div>
            <p>¿Por qué no anidamos?</p>
            <p>Aunque hoy estamos usando tarjetas, en el futuro podríamos reemplazarlas por otro componente. Dado que el estilo que queremos aplicar no está directamente relacionado con las tarjetas (cards), es mejor crear una nueva clase específica, como courses__item. Esta clase se asegura de que el estilo esté correctamente aplicado, incluso si cambiamos el contenido de las tarjetas en el futuro, es decir que ya no sean cards si no que sea cualquier otro componente el haber anidado nos hubiese dado problemas, es por eso que creamos mejor la clase courses__item.</p>
            <p>En pocas palabras hemos logrado una responsabilidad totalmente separada de card.</p>
            <p>Por otro lado, si el objetivo es modificar una propiedad específica de las tarjetas dentro de courses, como eliminar el border-radius, entonces usar un selector como .courses .card sería la opción adecuada. Este enfoque permite aplicar cambios específicos al componente existente sin crear nuevas abstracciones innecesarias.</p>
          </article>
          <article class="content" id="5">
            <h2>Utilities</h2>
            <p>Por último, tenemos la capa de clases de utilidad. Aunque estas clases tienen selectores con baja especificidad (ya que solo usan una clase), las colocamos al final de la cascada porque queremos que puedan sobrescribir cualquier clase anterior. Esta es la única capa donde el uso de !important está justificado, ya que garantiza que las utilidades tengan la máxima prioridad y puedan aplicar los estilos de manera efectiva sin ser anuladas por otras reglas.</p>
            <div>
              <pre><code class="language-css"> /*file error.css*/
.is-error {
 color: tomato !important;
}</code></pre>
            </div>
            <p>En nuestro caso solo tenemos un archivo <strong>error.css</strong> pero podemos tener los siguientes archivos tambien.</p>
            <ul>
              <li>
                <p> <strong>spacing.css</strong>: Para definir clases de utilidad relacionadas con márgenes y rellenos, como .u-mt-small, .u-mb-large, etc.</p>
              </li>
              <li>
                <p> <strong>display.css</strong>: Para controlar la visibilidad y el comportamiento de los elementos, como .u-hidden, .u-block, .u-inline-block.</p>
              </li>
              <li>
                <p> <strong>text.css</strong>: Para clases de estilo de texto como .u-text-center, .u-text-left, .u-uppercase.</p>
              </li>
              <li>
                <p> <strong>alignment.css</strong>: Para clases de alineación de elementos, como .u-centered, u-to-left, u-to-right.</p>
              </li>
              <li>
                <p> <strong>visibility.css</strong>: Para clases que controlan la visibilidad, como .is-visible, .is-hidden.</p>
              </li>
            </ul>
          </article>
          <article class="content" id="6">
            <h2>index.css</h2>
            <p>Así quedaría nuestro <strong>index.css </strong></p>
            <div>
              <pre><code class="language-css"> // Settings
@import "settings/colors.css";
@import "settings/layout.css";
@import "settings/typography.css";
@import "settings/z-index.css";

// Tools
@import "tools/justify.css";

// Generic
@import "generic/normalize.css";
/*@import "generic/reset.css";*/
@import "generic/box-sizing.css";

// Elements
@import "elements/body.css";
@import "elements/headings.css";
@import "elements/img.css";
@import "elements/links.css";

// Atoms
@import "atoms/box.css";
@import "atoms/btn.css";
@import "atoms/cover-background.css";
@import "atoms/typography.css";

// Molecules
@import "molecules/card.css";
@import "molecules/cta-box.css";
@import "molecules/video-thumbnail.css";
@import "molecules/form.css";    
   
// Organisms
@import "organisms/hero.css";
@import "organisms/subscribe.css";
@import "organisms/courses.css";

// utilities
@import "utilities/error.css";</code></pre>
            </div>
          </article>
        </section>
        <nav class="container-submenu" id="submenu"><img class="arrow" id="arrow" src="../../assets/icons/arrow-back.svg" alt="arrow back" />
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#1">Organismos</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#2">Justificación de selectores anidados </a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#3">¿Porque no reutilizar un mismo organismo para más cosas?</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#4">Pensar a futuro, ¿Anidar clases o crear una clase específica?</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#5">Utilities</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#6">Index.css</a></li>
          </ul>
        </nav>
      </section>
    </main>
    <script src="../../js/prism-whitespace.js"></script>
  </body>
</html>