<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/prism-dracrula.css">
    <link rel="stylesheet" href="../../../dev/css/main.css">
    <title>plantilla</title>
    <script src="../../js/app.js" type="module" defer> </script>
  </head>
  <body class="layout">
    <div class="container-hamburger"><img class="hamburger" id="hamburger" src="../../assets/icons/hamburger.svg" alt="arrow right"></div>
    <header class="page-header" id="pageHeader">
      <nav class="main-nav"><img class="close" id="close" src="../../assets/icons/close.svg" alt="close"><a href="../../../"><img class="logo" src="../../assets/icons/logo.png" alt="logo"></a>
        <section class="container-menu">
          <details class="container-cross-menu">
            <summary class="title-menu">Introducción</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/css-lenguage.html">CSS es un lenguaje de programación</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/solucionar-arquitectura-css.html">¿Qué queremos solucionar con arquitectura CSS?</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Buenas prácticas al escribir clases en CSS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/calidad-css.html">Especificidad de los selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/single-responsibility.html">Single responsibility principle en CSS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/herencia-composicion.html">Herencia vs composición en CSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Nomenclatura de tus clases BEM</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejora-css-bem.html">Mejorar CSS con BEM ventajas e inconvenientes</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejorar-bem.html">Mejorar lo que no nos gusta con de BEM con utility classes</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Comparando sistemas de arquitectura</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/atomit.html">Atomit Design</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/itcss.html">ITCSS arquitectura apps escalables</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/lo-mejor.html">Lo mejor de Atomit Design e ITCSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Estilos globales</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/utilizar-variables.html">Cómo utilizar variables, mixins y funciones</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-globales.html">Base CSS estilos globales</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-propios.html">Empezando a aplicar estilos propios</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Modularizar estilos de nuestra app</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/primeros-objetos.html">Creando primeros objetos y átomos</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/moleculas.html">Clases con significado Moléculas</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/componentes-ind.html">Componentes independientes Organismos</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS en app JS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/problemas-arq.html">Problemas de arquitectura CSS en app JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/nomenclatura.html">Nomenclatura de clases en componentes JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/atomitcss.html">ATOMITCSS en app JS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS sin clases</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-tailwind.html">Arquitectura con Tailwind</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-styled.html">Arquitectura CSS en JS con Styled Components</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Cuestiones</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/opt-selectores.html">Optimización de selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/element-vs.html">Elemento vs layout vs theme</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/scoped.html">Estilos scoped en componentes y su especificidad</a></li>
            </ul>
          </details>
        </section>
      </nav>
    </header>
    <main class="container main" id="main">
      <h1>Single responsibility principle en CSS</h1>
      <section class="main-info">
        <section class="info">
          <article class="content" id="1">
            <h2>Entendiendo que es Single Reponsibility Principle en CSS</h2>
            <p>En CSS, al igual que en cualquier otro lenguaje, es útil seguir principios como el de Responsabilidad Única (Single Responsibility Principle), que forma parte de la S de SOLID. La dificultad radica en definir cuál es la responsabilidad específica de cada clase.</p>
            <p class="ts-1">Un ejemplo común en cualquier proyecto web es la necesidad de convertir una <strong>lista (ul)</strong> para eliminar las viñetas y los márgenes o rellenos predeterminados. Queremos mantener la estructura semántica de la lista, pero cambiar su apariencia para que no se vean esos estilos predeterminados.</p>
            <p>Aquí es donde entra en juego el concepto de <strong class="ts-2">ui-list.</strong> En desarrollo web, <span class="ts-4">"ui-list" se refiere a una clase genérica utilizada para estilizar listas (ul) de manera consistente en toda la interfaz de usuario.</span> Una clase genérica es aquella que se puede aplicar a múltiples elementos en diferentes partes de un sitio web, sin estar vinculada a un contexto o componente específico. Su responsabilidad principal es eliminar las viñetas y los márgenes, dejando la lista preparada para su personalización en diferentes contextos.</p>
            <p class="ts-1">Es crucial comunicar claramente esta responsabilidad a través del <strong>nombre de la clase.</strong> Dado que estamos trabajando con un ul, un nombre comúnmente utilizado es ui-list. Sin embargo, <span class="ts-2">es importante no mezclar propiedades que controlen el diseño <span class="ts-5">(como el layout)</span> con aquellas que afectan la apariencia <span class="ts-5">(theming)</span>, como los colores de fondo o el texto. Mezclar estas propiedades en la misma clase haría que perdiera su responsabilidad única.</span></p>
            <p> <span class="ts-3">Clase correcta &#10003;</span></p>
            <div>
              <pre><code class="language-css"> .ui-list {
     list-style-type: none;
     padding-left: 0;
     margin-top: 0;
     margin-bottom: 0;
}</code></pre>
            </div>
            <p class="ts-1">La clase ui-list esta teniendo su responsabilidad única que es resetear los estilos predeterminados de una lista.</p>
            <p> <span class="ts-6">Clase incorrecta &#10007;</span></p>
            <div>
              <pre><code class="language-css"> .ui-list {
     list-style-type: none;
     padding-left: 0;
     margin-top: 0;
     margin-bottom: 0;
     
     position: sticky;
     color: white;
     background-color: lightcoral;
}</code></pre>
            </div>
            <p class="ts-1">La clase ui-list esta perdiendo su responsabilidad única que es resetear los estilos predeterminados de una lista, al agregarle propiedades de posicionamiento y propiedades de theming.</p>
            <h3>Contextos de responsabilidad única </h3>
            <p>La responsabilidad única en CSS depende del contexto.</p>
            <p>En el caso de un <strong>ul</strong>, como hemos mencionado, es habitual reutilizarlo en diferentes listas, por lo que evitamos mezclar propiedades de theming para mantener su responsabilidad única. </p>
            <p>Sin embargo, en clases para elementos más específicos, como un <strong class="ts-3">header</strong>, podemos incluir propiedades de posicionamiento como sticky, tamaño (width), y theming en una misma clase. En este caso, la responsabilidad de la clase es estilizar el encabezado principal de nuestra aplicación, y eso incluye tanto su layout como su apariencia.</p>
            <div>
              <pre><code class="language-css"> .header{
   width: 100%;
   position: sticky;
   top: 0;
   left: 0;
   background-color: lightblue;
   color: #fff;
}</code></pre>
            </div>
            <p class="ts-1">En el contexto de un .header si es válido el mezclar propieades de (layout) y (theming) ya que estamos estilando el header principal y sus estilos son únicos.</p>
          </article>
        </section>
        <nav class="container-submenu" id="submenu"><img class="arrow" id="arrow" src="../../assets/icons/arrow-back.svg" alt="arrow back" />
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#1">Entendiendo que es Single Reponsibility Principle en CSS</a></li>
          </ul>
        </nav>
      </section>
    </main>
    <script src="../../js/prism-whitespace.js"></script>
  </body>
</html>