<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/prism-dracrula.css">
    <link rel="stylesheet" href="../../../dev/css/main.css">
    <title>Arquitectura CSS</title>
    <script src="../../js/app.js" type="module" defer> </script>
  </head>
  <body class="layout">
    <div class="container-hamburger"><img class="hamburger" id="hamburger" src="../../assets/icons/hamburger.svg" alt="arrow right"></div>
    <header class="page-header" id="pageHeader">
      <nav class="main-nav"><img class="close" id="close" src="../../assets/icons/close.svg" alt="close"><a href="../../../"><img class="logo" src="../../assets/icons/logo.png" alt="logo"></a>
        <section class="container-menu">
          <details class="container-cross-menu">
            <summary class="title-menu">Introducción</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/css-lenguage.html">CSS es un lenguaje de programación</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/solucionar-arquitectura-css.html">¿Qué queremos solucionar con arquitectura CSS?</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Buenas prácticas al escribir clases en CSS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/calidad-css.html">Especificidad de los selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/single-responsibility.html">Single responsibility principle en CSS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/herencia-composicion.html">Herencia vs composición en CSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Nomenclatura de tus clases BEM</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejora-css-bem.html">Mejorar CSS con BEM ventajas e inconvenientes</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejorar-bem.html">Mejorar lo que no nos gusta con de BEM con utility classes</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Comparando sistemas de arquitectura</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/atomit.html">Atomit Design</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/itcss.html">ITCSS arquitectura apps escalables</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/lo-mejor.html">Lo mejor de Atomit Design e ITCSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Estilos globales</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/utilizar-variables.html">Cómo utilizar variables, mixins y funciones</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-globales.html">Base CSS estilos globales</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-propios.html">Empezando a aplicar estilos propios</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Modularizar estilos de nuestra app</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/primeros-objetos.html">Creando primeros objetos y átomos</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/moleculas.html">Clases con significado Moléculas</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/componentes-ind.html">Componentes independientes Organismos</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS en app JS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/problemas-arq.html">Problemas de arquitectura CSS en app JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/nomenclatura.html">Nomenclatura de clases en componentes JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/atomitcss.html">ATOMITCSS en app JS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS sin clases</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-tailwind.html">Arquitectura con Tailwind</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-styled.html">Arquitectura CSS en JS con Styled Components</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Cuestiones</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/opt-selectores.html">Optimización de selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/element-vs.html">Elemento vs layout vs theme</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/scoped.html">Estilos scoped en componentes y su especificidad</a></li>
            </ul>
          </details>
        </section>
      </nav>
    </header>
    <main class="container main" id="main">
      <h1>Cómo utilizar variables, mixins y funciones</h1>
      <section class="main-info">
        <section class="info">
          <article class="content" id="1">
            <h2>Empezando a declarar variables</h2>
            <p>En las capas de <strong>Settings</strong> y <strong>Tools</strong> dentro de nuestra arquitectura ITCSS, configuramos todas las variables y herramientas esenciales que usaremos en el proyecto. Esto incluye definir los colores, tipografías, mixins y funciones que nos ayudarán a mantener un código limpio y organizado.</p>
            <p>Si no somos imaginativos con los nombres de colores, podemos usar herramientas como Name that color:</p>
            <p><a class="link" href="https://chir.ag/projects/name-that-color/#6195ED" target="_blank">Name that color </a></p>
            <p>Diferenciando variables privadas y públicas:</p>
            <ul>
              <li>
                <p> <strong>Variables privadas</strong>: Se usan para definir valores fundamentales, pero no se aplican directamente en el CSS. Estas variables suelen llevar un guion bajo <strong _></strong> al principio del nombre, indicando que son para uso interno.</p>
              </li>
              <li>
                <p> <strong>Variables públicas</strong>: Estas son las que aplicamos directamente en los estilos CSS. Se definen utilizando las variables privadas, lo que nos permite mantener un código más claro y flexible. </p>
              </li>
            </ul>
            <p>Para estos ejemplos utilizaremos CSS nativo </p>
            <div>
              <pre><code class="language-css">        :root{
/*Variables privadas*/    
--_eucalyptus: #289f5f;
--_green-pea: #19623b;
--_baltic-sea: #282729;
--_cod-gray: #181818;
--_dove-gray: #666;
--_boulder: #777;
--_white: #fff;
--_alabaster: #fafafa;
--_gallery: #ececec;

/*Estas variables privadas las usamos para definir las variables públicas:*/


--primary-color: var(--_eucalyptus);
--primary-dark-color: var(--_green-pea);

--background-dark-color: var(--_baltic-sea);
--background-darker-color: var(--_cod-gray);
--background-light-color: var(--_alabaster);
--background-lighter-color: var(--_white);

--text-color: var(--_cod-gray);
--text-muted-color: var(--_dove-gray);
--text-inverted-color: var(--_white);

--border-color: var(--_dove-gray);
--border-inverted-color: var(--_gallery);
}   </code></pre>
            </div>
            <p><strong>Explicación</strong></p>
            <p>Definimos los colores base como variables privadas, tales como</p>
            <div>
              <p> <code>--_eucalyptus</code> o <code>--_cod-gray</code>.</p>
            </div>
            <p>A partir de estas, creamos variables públicas como
            <div><code>--primary-color: var(--_eucalyptus);</code></div>
            <p> que se aplican directamente en los estilos.</p>
            </p>
          </article>
          <article class="content" id="2">
            <h2>Beneficios de esta práctica de utilizar variables </h2>
            <ul>
              <li>
                <p> <strong>Reutilización y simplificación</strong>: Podemos identificar y eliminar colores similares que cumplan la misma función, haciendo el código más eficiente. </p>
              </li>
              <li>
                <p> <strong>Facilidad de cambio</strong>: Si el equipo de diseño decide cambiar un color, al tener variables independientes para diferentes aplicaciones (como --background-darker-color y --text-color), podemos actualizar los valores fácilmente sin que el cambio afecte otros elementos del diseño. </p>
              </li>
            </ul>
          </article>
          <article class="content" id="3">
            <h2>Facilidad de cambio práctico</h2>
            <p>Supongamos que tienes las siguientes variables definidas:</p>
            <div>
              <pre><code class="language-css"> :root{
/*Variables privadas (colores base):*/    
--_eucalyptus: #289f5f;
--_cod-gray: #181818;
--_dove-gray: #666;
--_white: #fff;

/*Variables públicas (usadas en el CSS):*/
--primary-color: var(--_eucalyptus);
--background-darker-color: var(--_cod-gray);
--text-color: var(--_cod-gray);
--text-muted-color: var(--_dove-gray);
--text-inverted-color: var(--_white);
}</code></pre>
            </div>
            <div>
              <p>En este caso, tanto </p>
              <p><code>--background-darker-color</code> como <code>--text-color</code> están usando el valor <code>--_cod-gray.    </code></p>
            </div>
            <p>Supongamos que el equipo de diseño decide que el fondo oscuro <strong class="ts-4">(--background-darker-color)</strong> debe ser de un tono más claro, pero el color del texto <strong class="ts-2">(--text-color)</strong> debe permanecer igual.</p>
            <p>Dado que <strong>--background-darker-color</strong> y <strong>--text-color</strong> son variables independientes, puedes cambiar solo <strong>--background-darker-color</strong> sin afectar el color del texto. </p>
            <div>
              <pre><code class="language-css"> /* Nuevo valor para la variable privada*/
--_charcoal-gray: #333; // Un tono más claro

/* Actualización de la variable pública para el fondo*/
--background-darker-color: var(--_charcoal-gray);

/* Manteniendo el color del texto */
--text-color: var(--_cod-gray);</code></pre>
            </div>
            <p>Ahora, tu fondo tiene un nuevo color (#333), pero el texto sigue usando el color anterior (#181818). Si hubieras usado la misma variable para ambos (fondo y texto), tendrías que modificar más lugares y quizás no podrías mantener el texto con el color original sin hacer ajustes adicionales.</p>
            <p>Conclusión: Este enfoque te permite cambiar una parte específica del diseño (como el fondo) sin afectar otras (como el texto), lo que facilita realizar ajustes precisos según las indicaciones del equipo de diseño. </p>
            <p>Los mixins y funciones de Sass o Postcss es importante que se definan cuando vemos que sea necesario, y no definir demasiados de entrada, ya que estaríamos creando abstracciones prematuras.</p>
          </article>
          <article class="content" id="4">
            <h2>Otras variables</h2>
            <p>Nuestra carpeta Settings quedaria así</p>
            <div class="ts-1">
              <pre><code class="ts-1"> settings/
│
├── _colors.css         /* Variables para colores */
└── _layout.css         /* Variables para layout y espaciado */
└── _typography.css     /* Variables para tipografías */
└── _z-index.css     /* Variables para z-index */</code></pre>
            </div>
            <p><strong>layout.css</strong></p>
            <div>
              <pre><code class="language-css"> |--max-width: 71.25rem;
|
|/* Spacing*/
|--spacing-s: 1rem;
|--spacing: 1.6rem;
|--spacing-l: 3.25rem;</code></pre>
            </div>
            <p><strong>typography.css </strong></p>
            <div>
              <pre><code class="language-css"> |--font-family: "Open Sans", sans-serif;
|
|/* Typography scale */
|--fs-base: 16;
|
|--_fs-9: 9 / var(--fs-base) + rem;
|--_fs-12: 12 / var(--fs-base) + rem;
|--_fs-14: 14 / var(--fs-base) + rem;
|--_fs-19: 19 / var(--fs-base) + rem;
|--_fs-25: 25 / var(--fs-base) + rem;
|--_fs-33: 33 / var(--fs-base) + rem;
|--_fs-44: 44 / var(--fs-base) + rem;
|
|/* Typography applications */
|--fs-pill: var(--_fs-9);
|--fs-btn: var(--_fs-12);
|--fs-footer: var(--_fs-12);
|--fs-menu: var(--_fs-14);
|--fs-body: var(--_fs-14);
|--fs-lead: var(--_fs-19);
|--fs-title-s: var(--_fs-25);
|--fs-title-m: var(--_fs-33);
|--fs-title-l: var(--_fs-44);</code></pre>
            </div>
            <p><strong>z-index.css </strong></p>
            <div>
              <pre><code class="language-css"> |--_z1: 1;
|--_z2: 2;
|--_z3: 3;
|--_z4: 4;
|--_z5: 5;
|--_z6: 6;
|--_z7: 7;
|--_z8: 8;
|--_z9: 9;
|--_z10: 10;
|
|--z-menu: $_z9;</code></pre>
            </div>
            <p>Nuestra carpeta Tools quedaria así</p>
            <div class="ts-1">
              <pre><code class="ts-1"> styles
├── settings
│       ├── _colors.scss
|       └── _layout.css        
|       └── _typography.css  
|       └── _z-index.css  
├── tools
│       └── _mixins.scss</code></pre>
            </div>
            <p>Aquí puedes aprovechar plugins como <strong>postcss-mixins</strong> para definir mixins o <strong>postcss-functions</strong> para funciones personalizadas. </p>
            <div>
              <pre><code class="language-css"> /* tools/_mixins.css */
@define-mixin justify {
 display: flex;
 justify-content: center;
 align-items: center;
}
/*Cuando ocupemos el mixin seria de la siguiente manera*/
.container {
   @mixin justify;
}</code></pre>
            </div>
            <p>Nuestro <strong>main.css o index.css</strong> quedaria de la siguiente manera hasta este momento.</p>
            <div>
              <pre><code class="language-css"> // Settings
@import "settings/colors.css";
@import "settings/layout.css";
@import "settings/typography.css";
@import "settings/z-index.css";
 
// Tools
@import "tools/justify.css";
 </code></pre>
            </div>
          </article>
        </section>
        <nav class="container-submenu" id="submenu"><img class="arrow" id="arrow" src="../../assets/icons/arrow-back.svg" alt="arrow back" />
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#1">Empezando a declarar variables</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#2">Beneficios de esta práctica de utilizar variables</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#3">Facilidad de cambio práctico</a></li>
          </ul>
          <ul class="submenu">
            <li class="submenu__item"><a class="submenu__link" href="#4">Otras variables</a></li>
          </ul>
        </nav>
      </section>
    </main>
    <script src="../../js/prism-whitespace.js"></script>
  </body>
</html>