extends ../../templates/template 

append h1 
    h1 Especificidad de los selectores


append content 

    article(id="1" class="content")
        h2 Especificidad de selectores
        p Una de las cosas importantes en una arquitectura CSS, es cuidar la especificidad de los selectores, es decir lo específico que son los selectores.
        h3 Especificidad basica 
        ul 
            li
                p: strong.ts-1 tags, ::pseudoelementos
                p &#8594; 0&nbsp;, 0&nbsp;, 1 
            li
                p: strong.ts-1 clases, :pseudoclases
                p &#8594; 0&nbsp;, 1&nbsp;, 0 
            li
                p: strong.ts-1 id
                p &#8594; 1&nbsp;, 0&nbsp;, 0 
            li
                p: strong.ts-1 Estilos en línea:
                p &#8594; 1&nbsp;, 0&nbsp;, 0 &nbsp;, 0 
            li
                p: strong.ts-1 !important
                p &#8594; Gana a todo.        

        p Veamos el siguiente ejemplo: 
        figure: img(src="../../assets/img/buenas-practicas/1.png" alt="Ejemplo expecificidad")         

        p.ts-1 Esto no hay que leerlo como un número, porque nos puede pasar lo siguiente aunque es muy poco común.
        figure: img(src="../../assets/img/buenas-practicas/2.png" alt="Ejemplo expecificidad 2")

        p.ts-1 Porque si después de ese selector o antes, tenemos una clase 
            strong.ts-3 .strong
            |   que afecta a ese mismo strong anidado, la clase siempre le va ganar.          
        figure: img(src="../../assets/img/buenas-practicas/3.png" alt="Ejemplo expecificidad 3")

        p Esto nos ayuda a identificar cuándo tenemos selectores excesivamente anidados y a entender cuál es más específico.

        p Además de la anidación, otros factores influyen en la especificidad, como 
            span.ts-2 el orden de los elementos en el HTML (la cascada), los estilos en línea y el uso de !important.

        p Esta información resulta especialmente útil al refactorizar CSS existente. 
            span.ts-4 Sin embargo, cuando estamos desarrollando nuevos estilos, es preferible utilizar selectores simples, principalmente clases, y evitar la anidación en la medida de lo posible. Esto facilita la lectura y comprensión del código. Asimismo, es recomendable colocar los selectores menos específicos al inicio de la hoja de estilos, reservando los más específicos, como anidaciones y !important, para el final.

        p Para analizar la especificidad de nuestros selectores, podemos utilizar herramientas como 
            a(href="https://jonassebastianohlsson.com/specificity-graph/" target="_blank").link Specificity Graph.
            |   Lo ideal es obtener un resultado lo más plano posible, con cualquier aumento de especificidad hacia el final de la hoja de estilos.

        figure
            img(src="../../assets/img/buenas-practicas/4.png" alt="Ejemplo expecificidad 4")
            figcaption Podemos ver que lo normal es que nuestros graficos empiezen planos es decir poner al inicio los selectores menos específicos al inicio e ir subiendo hasta el final de nuestro archivo poniendo los selectores más específicos.

        p Si vemos picos muy altos eso no es bueno, tenemos que empezar a refactorizar por esos picos.
        p En conclusión esta herramienta nos ayuda a visualizar si nuestra web tiene una buena arquitectura CSS.  

append submenu 
    -submenuLinks = [[1,'Especificidad de selectores']]
    +submenu(submenuLinks)