<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/prism-dracrula.css">
    <link rel="stylesheet" href="../../../dev/css/main.css">
    <title>Arquitectura CSS</title>
    <script src="../../js/app.js" type="module" defer> </script>
  </head>
  <body class="layout">
    <div class="container-hamburger"><img class="hamburger" id="hamburger" src="../../assets/icons/hamburger.svg" alt="arrow right"></div>
    <header class="page-header" id="pageHeader">
      <nav class="main-nav"><img class="close" id="close" src="../../assets/icons/close.svg" alt="close"><a href="../../../"><img class="logo" src="../../assets/icons/logo.png" alt="logo"></a>
        <section class="container-menu">
          <details class="container-cross-menu">
            <summary class="title-menu">Introducción</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/css-lenguage.html">CSS es un lenguaje de programación</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/introduccion/solucionar-arquitectura-css.html">¿Qué queremos solucionar con arquitectura CSS?</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Buenas prácticas al escribir clases en CSS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/calidad-css.html">Especificidad de los selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/single-responsibility.html">Single responsibility principle en CSS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/buenas-practicas-al-escribir-clases-en-css/herencia-composicion.html">Herencia vs composición en CSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Nomenclatura de tus clases BEM</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejora-css-bem.html">Mejorar CSS con BEM ventajas e inconvenientes</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/nomenclatura-de-tus-clases-bem/mejorar-bem.html">Mejorar lo que no nos gusta con de BEM con utility classes</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Comparando sistemas de arquitectura</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/atomit.html">Atomit Design</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/itcss.html">ITCSS arquitectura apps escalables</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/comparando-sistemas-de-arquitectura/lo-mejor.html">Lo mejor de Atomit Design e ITCSS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Estilos globales</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/utilizar-variables.html">Cómo utilizar variables, mixins y funciones</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-globales.html">Base CSS estilos globales</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/estilos-globales/estilos-propios.html">Empezando a aplicar estilos propios</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Modularizar estilos de nuestra app</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/primeros-objetos.html">Creando primeros objetos y átomos</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/moleculas.html">Clases con significado Moléculas</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/modularizar-estilos-de-nuestra-app/componentes-ind.html">Componentes independientes Organismos</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS en app JS</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/problemas-arq.html">Problemas de arquitectura CSS en app JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/nomenclatura.html">Nomenclatura de clases en componentes JS</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-en-app-js/atomitcss.html">ATOMITCSS en app JS</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Arquitectura CSS sin clases</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-tailwind.html">Arquitectura con Tailwind</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/arquitectura-css-sin-clases/arq-styled.html">Arquitectura CSS en JS con Styled Components</a></li>
            </ul>
          </details>
          <details class="container-cross-menu">
            <summary class="title-menu">Cuestiones</summary>
            <ul class="cross-menu">
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/opt-selectores.html">Optimización de selectores</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/element-vs.html">Elemento vs layout vs theme</a></li>
              <li class="cross-menu__item"><a class="cross-menu__link" href="../../views/cuestiones/scoped.html">Estilos scoped en componentes y su especificidad</a></li>
            </ul>
          </details>
        </section>
      </nav>
    </header>
    <main class="container main" id="main">
      <h1>Arquitectura CSS en JS con Styled Components</h1>
      <section class="main-info">
        <section class="info">
          <article class="content" id="1">
            <h2>Subtitulo 1</h2>
            <p>Si optamos por una solución CSS-in-JS, en este caso Styled Components, seguiremos una estructura muy parecida a la que hemos visto en el vídeo ATOMITCSS en aplicaciones JS. Las peculiaridades las encontraremos al usar JS en lugar de Sass o cualquier preprocesador.</p>
            <p>Las variables de nuestra aplicación pueden seguir estando en la carpeta de estilos, pero tendremos que transformarlas a un objeto JavaScript (el plugin sass-extract-js nos permite hacerlo automáticamente). Pasando este objeto a ThemeProvider de Styled Components, nos permite que todos los componentes descendientes tengan acceso a las variables:</p>
            <div>
              <pre><code class="language-javascript">import { ThemeProvider } from "styled-components";

const theme = require('sass-extract-loader?{"plugins": ["sass-extract-js"]}!./styles/settings/_variables.scss');

function App() {
 return (
   &lt;ThemeProvider theme={theme}&gt;
     &lt;Header /&gt;
     &lt;Hero /&gt;
     &lt;Courses /&gt;
			&lt;Footer /&gt;
   &lt;/ThemeProvider&gt;
 );
}</code></pre>
            </div>
            <p>A la hora de reutilizar código tendremos que aplicar unos métodos distintos. Styled Components nos permite extender los estilos de otro componente de la siguiente manera:</p>
            <div>
              <pre><code class="language-javascript">const MyComponent = styled(OtherComponent)`
 font-size: 1.5rem;
`;</code></pre>
            </div>
            <p>De esta forma, MyComponent tendrá todos los estilos de OtherComponent, además de su propio font-size. Pero como podemos imaginar, combinar más de dos componentes no es tan fácil. Una opción para reutilizar código es crear componentes de layout flexibles que no van a añadir estilos a sí mismos, sino a su descendiente:</p>
            <div>
              <pre><code class="language-javascript">import styled from "styled-components";

export const Justify = styled.div.attrs((props) => ({
 alignItems: props.alignItems || "center",
}))`
 > * {
   display: flex;
   flex-wrap: wrap;
   align-items: ${(props) => props.alignItems};
   justify-content: space-between;
 }
`;</code></pre>
            </div>
            <p>Pero vemos que cuando estos componentes necesitan mucha más configuración y reciben muchas props, nos queda el template con muchas propiedades relacionadas con CSS, cosa que dificulta la trazabilidad de los estilos:</p>
            <div>
              <pre><code class="language-javascript">&lt;Sidebar position="first-child" minWidth="60%" sidebarWidth="25rem"&gt;
	&lt;Container&gt;
		{ //... }
 &lt;/Container&gt;
&lt;/Sidebar&gt;</code></pre>
            </div>
            <p>En estos casos puede ser preferible reutilizar código de otra forma: al usar JavaScript, podemos también crear funciones que nos devuelvan el string de CSS con sus variables. Es lo más parecido a un mixin de Sass:</p>
            <div>
              <pre><code class="language-javascript">export function includeSidebar({
 gap = "1rem",
 sidebarPosition = "last-child",
 sidebarWidth = "auto",
 minWidth = "50%",
}) {
 return `
 display: flex;
 flex-wrap: wrap;
 gap: ${gap};
 > * {
   flex-basis: ${sidebarWidth};
   flex-grow: 1;
 }
 > ${":" + sidebarPosition} {
   min-width: ${minWidth};
   flex-basis: 0;
   flex-grow: 999;
 }
`;
}</code></pre>
            </div>
            <p>Podemos importar y usar esta función en cualquier componente, una solución que permite que la responsabilidad del estilo siga estando en la parte de CSS, es más flexible y fácil de entender:</p>
            <div>
              <pre><code class="language-javascript">const SubscribeContainer = styled(Container)`
 ${includeSidebar({
   sidebarPosition: "first-child",
   minWidth: "60%",
   sidebarWidth: "25rem",
 })}
 padding-top: ${(props) => props.theme.spacingL};
 padding-bottom: 5rem;

 > :first-child {
   padding-right: 10vw;
 }
`;</code></pre>
            </div>
            <p>A nivel de estructura nos quedaría muy parecido a lo que hemos visto hasta ahora:</p>
            <div>
              <pre class="ts-1"> styles
├── settings
│       ├── _colors.scss
│       └── _typography.scss
├── generic
│       ├── _normalize.scss
│       └── _box-sizing.scss
├── elements
│       ├── _headings.scss
│       ├── _images.scss
│       └── _links.scss
├── utilities
│       ├── _typography.scss 
│       └── _error.scss
└── index.scss

components
├── common
│       ├── Header.js
│       └── Footer.js
├── courses
│       ├── Hero.js
│       └── Gallery.js
└── ui
     ├── objects
     │       ├── Container.js
     │       └── UiList.js
     ├── atoms
     │       ├── Button.js
     │       ├── Image.js
     │       └── Pill.js
     ├── molecules
     │       ├── Card.js
     │       └── Form.js
     └── utils
             └── includeSidebar.js  
</pre>
            </div>
          </article>
        </section>
      </section>
    </main>
    <script src="../../js/prism-whitespace.js"></script>
  </body>
</html>